<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
</style>

<link rel="stylesheet" href="style.css">
    <head>
        <title> Quiz Complete </title>
    </head>
    <div class="complete">
        <h1>Game Over!</h1>
        <h2>Your Recent Highscore : <%= currentStreak %></h2>
        <button>
            <a href="/quiz">Start a new quiz</a>
        </button>
        <button>
            <a href="/">Go to Home</a>
        </button>
        <button>
            <a href="/leaderboard">View Leaderboard</a>
        </button>
    </div>