<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
</style>

<link rel="stylesheet" href="style.css">
<html>
    <head>
        <title> Leaderboard </title>
    </head>
    <body>
        <div class="leaderboard">
            <h1>Top 10 HighScores</h1>
            <ul>
                <% topStreaks.forEach(streak => { %>
                    <li>
                        <strong>Score:</strong> <%= streak.correctAnswers %> - <%= new Date(streak.date).toLocaleString() %>
                    </li>
                <% }) %>
                </ul>3
            <a class="btn" href="/">Go to Home</a>
        </div>
    </body>
</html>

